In [59]:
import warnings
import itertools
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression, LinearRegression, ElasticNet, SGDRegressor

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from xgboost import XGBClassifier, XGBRegressor

from sklearn.metrics import confusion_matrix

In [142]:
data_preprocess = pd.read_csv('../data/processed/cleaned_ex2.csv')
data_preprocess.fillna(360, inplace=True)
Loan_Id = data_preprocess['Loan_ID']
data_preprocess = data_preprocess[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status']]
# df.drop([])

In [143]:
# data_preprocess.reset_index(inplace=True)
data_preprocess["Married"] = data_preprocess["Married"].apply(lambda x: 1 if x == 'Yes' else 0)
data_preprocess["Education"] = data_preprocess["Education"].apply(lambda x: 1 if x == 'Graduate' else 0)
data_preprocess["Self_Employed"]  = data_preprocess["Self_Employed"].apply(lambda x: 1 if x == 'No' else 0)
data_preprocess["Gender"] = data_preprocess["Gender"].apply(lambda x: 1 if x == 'Male' else 0)
data_preprocess["Dependents"] = data_preprocess["Dependents"].apply(lambda x: 3 if x == '3+' else int(x))

In [146]:
# df[['Gender', 'Married',
#        'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
#        'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
#        'Property_Area']]

# loan_term_df = df[['Loan_Amount_Term', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History']]


# loan_term_df = df[['Loan_Amount_Term', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]

# data_preprocess["Loan_Status"].values
trn_data = pd.get_dummies(data_preprocess.loc[:,:'Property_Area'])

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,1,1,1,1,4583,1508.0,128.000000,360.0,1.0,1,0,0
1,1,1,0,1,0,3000,0.0,66.000000,360.0,1.0,0,0,1
2,1,1,0,0,1,2583,2358.0,120.000000,360.0,1.0,0,0,1
3,1,0,0,1,1,6000,0.0,141.000000,360.0,1.0,0,0,1
4,1,1,2,1,0,5417,4196.0,267.000000,360.0,1.0,0,0,1
5,1,1,0,0,1,2333,1516.0,95.000000,360.0,1.0,0,0,1
6,1,1,3,1,1,3036,2504.0,158.000000,360.0,0.0,0,1,0
7,1,1,2,1,1,4006,1526.0,168.000000,360.0,1.0,0,0,1
8,1,1,1,1,1,12841,10968.0,349.000000,360.0,1.0,0,1,0
9,1,1,2,1,1,3200,700.0,70.000000,360.0,1.0,0,0,1
10,1,1,2,1,1,3073,8106.0,200.000000,360.0,1.0,0,0,1
11,1,0,0,1,1,1853,2840.0,114.000000,360.0,1.0,1,0,0
12,1,1,2,1,1,1299,1086.0,17.000000,120.0,1.0,0,0,1
13,1,0,0,1,1,4950,0.0,125.000000,360.0,1.0,0,0,1
14,1,0,1,0,1,3596,0.0,100.000000,240.0,0.0,0,0,1
15,0,0,0,1,1,3510,0.0,76.000000,360.0,0.0,0,0,1
16,1,1,0,0,1,4887,0.0,133.000000,360.0,1.0,1,0,0
17,1,1,0,0,1,7660,0.0,104.000000,360.0,0.0,0,0,1
18,1,1,1,1,1,5955,5625.0,315.000000,360.0,1.0,0,0,1
19,1,1,0,0,1,2600,1911.0,116.000000,360.0,0.0,0,1,0
20,1,1,2,0,1,3365,1917.0,112.000000,360.0,0.0,1,0,0
21,1,1,0,1,0,9560,0.0,191.000000,360.0,1.0,0,1,0
22,1,1,0,1,1,2799,2253.0,122.000000,360.0,1.0,0,1,0
23,1,1,2,0,1,4226,1040.0,110.000000,360.0,1.0,0,0,1
24,1,0,0,0,1,1442,0.0,35.000000,360.0,1.0,0,0,1
25,1,0,0,1,1,3167,0.0,74.000000,360.0,1.0,0,0,1
26,1,0,1,1,0,4692,0.0,106.000000,360.0,1.0,1,0,0
27,1,1,0,1,1,3500,1667.0,114.000000,360.0,1.0,0,1,0
28,1,0,3,1,1,12500,3000.0,320.000000,360.0,1.0,1,0,0
29,1,1,0,1,1,1828,1330.0,100.000000,360.0,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,1,1,1,1,1,6300,0.0,125.000000,360.0,0.0,0,0,1
952,1,0,1,1,0,16000,5000.0,40.000000,360.0,1.0,0,1,0
953,1,1,1,0,1,2600,618.0,122.000000,360.0,1.0,0,1,0
954,1,0,0,1,1,5849,0.0,134.147049,360.0,1.0,0,0,1
955,1,1,0,1,1,2275,2067.0,101.235984,360.0,1.0,0,0,1
956,1,1,1,1,1,4945,0.0,130.330468,360.0,0.0,1,0,0
957,1,1,1,1,0,2395,0.0,98.913320,360.0,1.0,0,1,0
958,1,1,0,1,1,13650,0.0,257.463064,360.0,1.0,0,0,1
959,1,1,0,1,1,4652,3583.0,156.387728,360.0,1.0,0,1,0
960,0,0,1,1,0,7451,0.0,117.826755,360.0,1.0,0,1,0
961,1,0,0,1,1,3865,1640.0,128.500798,360.0,1.0,1,0,0
962,1,1,3,0,1,3992,0.0,65.007730,180.0,1.0,0,0,1
963,1,1,0,1,1,20667,0.0,401.639138,360.0,1.0,1,0,0
964,1,0,0,0,1,2000,0.0,54.005179,360.0,1.0,0,0,1
965,1,1,2,0,1,3601,1590.0,118.214210,360.0,1.0,1,0,0
966,0,0,3,0,1,1830,0.0,59.535611,360.0,0.0,0,0,1
967,1,1,0,0,1,3010,3136.0,141.110487,360.0,0.0,0,0,1
968,0,0,0,1,1,10047,0.0,216.162032,240.0,1.0,0,1,0
969,1,1,0,1,1,2213,1125.0,88.800873,360.0,1.0,0,0,1
970,1,1,2,1,1,2947,1603.0,119.733140,360.0,1.0,0,0,1
971,1,0,0,1,1,4680,2087.0,137.874579,360.0,1.0,0,1,0
972,1,1,2,1,0,6633,0.0,170.005767,360.0,0.0,1,0,0
973,1,1,1,0,1,2492,2375.0,126.075663,360.0,1.0,1,0,0
974,1,1,0,0,1,2400,3800.0,125.796925,180.0,1.0,0,0,1
975,1,1,1,1,1,3413,4053.0,159.163762,360.0,1.0,0,1,0
976,0,1,0,1,1,2262,0.0,108.899480,480.0,0.0,0,1,0
977,1,1,0,0,1,13083,0.0,191.106354,360.0,1.0,1,0,0
978,1,1,0,1,1,10000,0.0,197.426341,360.0,1.0,0,0,1
979,1,1,1,1,1,8333,4000.0,316.932044,360.0,1.0,0,0,1
980,1,0,0,1,1,6782,0.0,112.476192,360.0,0.0,0,0,1

In [112]:

# loan_term_df['Self_Employed'] = loan_term_df['Self_Employed'].apply(lambda x: 1 if x == 'Yes' else 0)

df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'Loan_ID', 'Gender', 'Married',
       'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [64]:
data_trn = loan_term_df[loan_term_df["Loan_Amount_Term"].notnull()]

data_trn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961 entries, 0 to 980
Data columns (total 4 columns):
Loan_Amount_Term    961 non-null float64
ApplicantIncome     961 non-null int64
LoanAmount          961 non-null float64
Credit_History      961 non-null float64
dtypes: float64(3), int64(1)
memory usage: 37.5 KB

In [96]:
X_train, X_test, y_train, y_test = train_test_split(data_trn.loc[:,"ApplicantIncome":].values, data_trn["Loan_Amount_Term"].values,  test_size=0.01, random_state= 24)
xgbRer = XGBRegressor(learning_rate=0.1, n_estimators=1000, reg_lambda=0.1, random_state=24, booster="gblinear")
xgbRer.fit(X_train, y_train)
print(xgbRer.score(X_train, y_train))
xgbRer.score(X_test, y_test)

0.008954381143708612

0.0

In [100]:
lrr = RandomForestRegressor(n_estimators=100, criterion="mse", min_samples_split=2, n_jobs=1000)
lrr.fit(X_train, y_train)
print(lrr.score(X_train, y_train))
lrr.score(X_test, y_test)

0.8334586395422448

0.0

In [101]:
# df['Loan_Amount_Term'].plot()
# plt.show()
lrr.predict(loan_term_df[loan_term_df["Loan_Amount_Term"].isnull()].loc[:,"ApplicantIncome":].values)

array([365.4 , 349.2 , 339.6 , 339.78, 340.68, 360.  , 355.2 , 298.2 ,
       334.18, 355.2 , 357.6 , 345.24, 341.04, 343.44, 354.  , 343.8 ,
       329.64, 340.2 , 342.12, 351.36])

In [107]:
loan_term_df[loan_term_df["Loan_Amount_Term"] == 360]

     Loan_Amount_Term  ApplicantIncome  LoanAmount  Credit_History
0               360.0             4583  128.000000             1.0
1               360.0             3000   66.000000             1.0
2               360.0             2583  120.000000             1.0
3               360.0             6000  141.000000             1.0
4               360.0             5417  267.000000             1.0
5               360.0             2333   95.000000             1.0
6               360.0             3036  158.000000             0.0
7               360.0             4006  168.000000             1.0
8               360.0            12841  349.000000             1.0
9               360.0             3200   70.000000             1.0
10              360.0             3073  200.000000             1.0
11              360.0             1853  114.000000             1.0
13              360.0             4950  125.000000             1.0
15              360.0             3510   76.000000             0.0
16              360.0             4887  133.000000             1.0
17              360.0             7660  104.000000             0.0
18              360.0             5955  315.000000             1.0
19              360.0             2600  116.000000             0.0
20              360.0             3365  112.000000             0.0
21              360.0             9560  191.000000             1.0
22              360.0             2799  122.000000             1.0
23              360.0             4226  110.000000             1.0
24              360.0             1442   35.000000             1.0
25              360.0             3167   74.000000             1.0
26              360.0             4692  106.000000             1.0
27              360.0             3500  114.000000             1.0
28              360.0            12500  320.000000             1.0
30              360.0             3667  144.000000             1.0
31              360.0             4166  184.000000             1.0
32              360.0             3748  110.000000             1.0
..                ...              ...         ...             ...
947             360.0             8750  297.000000             1.0
948             360.0             1972  106.000000             1.0
949             360.0             1792  128.000000             1.0
950             360.0             3808   83.000000             1.0
951             360.0             6300  125.000000             0.0
952             360.0            16000   40.000000             1.0
953             360.0             2600  122.000000             1.0
954             360.0             5849  134.147049             1.0
955             360.0             2275  101.235984             1.0
956             360.0             4945  130.330468             0.0
957             360.0             2395   98.913320             1.0
958             360.0            13650  257.463064             1.0
959             360.0             4652  156.387728             1.0
960             360.0             7451  117.826755             1.0
961             360.0             3865  128.500798             1.0
963             360.0            20667  401.639138             1.0
964             360.0             2000   54.005179             1.0
965             360.0             3601  118.214210             1.0
966             360.0             1830   59.535611             0.0
967             360.0             3010  141.110487             0.0
969             360.0             2213   88.800873             1.0
970             360.0             2947  119.733140             1.0
971             360.0             4680  137.874579             1.0
972             360.0             6633  170.005767             0.0
973             360.0             2492  126.075663             1.0
975             360.0             3413  159.163762             1.0
977             360.0            13083  191.106354             1.0
978             360.0            10000  197.426341             1.0
979             360.0             8333  316.932044             1.0
980             360.0             6782  112.476192             0.0

[823 rows x 4 columns]

In [82]:
help(xgbRer)

Help on XGBRegressor in module xgboost.sklearn object:

class XGBRegressor(XGBModel, sklearn.base.RegressorMixin)
 |  Implementation of the scikit-learn API for XGBoost regression.
 |      Parameters
 |  ----------
 |  max_depth : int
 |      Maximum tree depth for base learners.
 |  learning_rate : float
 |      Boosting learning rate (xgb's "eta")
 |  n_estimators : int
 |      Number of boosted trees to fit.
 |  silent : boolean
 |      Whether to print messages while running boosting.
 |  objective : string or callable
 |      Specify the learning task and the corresponding learning objective or
 |      a custom objective function to be used (see note below).
 |  booster: string
 |      Specify which booster to use: gbtree, gblinear or dart.
 |  nthread : int
 |      Number of parallel threads used to run xgboost.  (Deprecated, please use n_jobs)
 |  n_jobs : int
 |      Number of parallel threads used to run xgboost.  (replaces nthread)
 |  gamma : float
 |      Minimum loss reduction required to make a further partition on a leaf node of the tree.
 |  min_child_weight : int
 |      Minimum sum of instance weight(hessian) needed in a child.
 |  max_delta_step : int
 |      Maximum delta step we allow each tree's weight estimation to be.
 |  subsample : float
 |      Subsample ratio of the training instance.
 |  colsample_bytree : float
 |      Subsample ratio of columns when constructing each tree.
 |  colsample_bylevel : float
 |      Subsample ratio of columns for each split, in each level.
 |  reg_alpha : float (xgb's alpha)
 |      L1 regularization term on weights
 |  reg_lambda : float (xgb's lambda)
 |      L2 regularization term on weights
 |  scale_pos_weight : float
 |      Balancing of positive and negative weights.
 |  base_score:
 |      The initial prediction score of all instances, global bias.
 |  seed : int
 |      Random number seed.  (Deprecated, please use random_state)
 |  random_state : int
 |      Random number seed.  (replaces seed)
 |  missing : float, optional
 |      Value in the data which needs to be present as a missing value. If
 |      None, defaults to np.nan.
 |  **kwargs : dict, optional
 |      Keyword arguments for XGBoost Booster object.  Full documentation of parameters can
 |      be found here: https://github.com/dmlc/xgboost/blob/master/doc/parameter.md.
 |      Attempting to set a parameter via the constructor args and **kwargs dict simultaneously
 |      will result in a TypeError.
 |      Note:
 |          **kwargs is unsupported by Sklearn.  We do not guarantee that parameters passed via
 |          this argument will interact properly with Sklearn.
 |
 |  Note
 |  ----
 |  A custom objective function can be provided for the ``objective``
 |  parameter. In this case, it should have the signature
 |  ``objective(y_true, y_pred) -> grad, hess``:
 |
 |  y_true: array_like of shape [n_samples]
 |      The target values
 |  y_pred: array_like of shape [n_samples]
 |      The predicted values
 |
 |  grad: array_like of shape [n_samples]
 |      The value of the gradient for each sample point.
 |  hess: array_like of shape [n_samples]
 |      The value of the second derivative for each sample point
 |
 |  Method resolution order:
 |      XGBRegressor
 |      XGBModel
 |      sklearn.base.BaseEstimator
 |      sklearn.base.RegressorMixin
 |      builtins.object
 |
 |  Methods inherited from XGBModel:
 |
 |  __init__(self, max_depth=3, learning_rate=0.1, n_estimators=100, silent=True, objective='reg:linear', booster='gbtree', n_jobs=1, nthread=None, gamma=0, min_child_weight=1, max_delta_step=0, subsample=1, colsample_bytree=1, colsample_bylevel=1, reg_alpha=0, reg_lambda=1, scale_pos_weight=1, base_score=0.5, random_state=0, seed=None, missing=None, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __setstate__(self, state)
 |
 |  apply(self, X, ntree_limit=0)
 |      Return the predicted leaf every tree for each sample.
 |
 |      Parameters
 |      ----------
 |      X : array_like, shape=[n_samples, n_features]
 |          Input features matrix.
 |
 |      ntree_limit : int
 |          Limit number of trees in the prediction; defaults to 0 (use all trees).
 |
 |      Returns
 |      -------
 |      X_leaves : array_like, shape=[n_samples, n_trees]
 |          For each datapoint x in X and for each tree, return the index of the
 |          leaf x ends up in. Leaves are numbered within
 |          ``[0; 2**(self.max_depth+1))``, possibly with gaps in the numbering.
 |
 |  evals_result(self)
 |      Return the evaluation results.
 |
 |      If eval_set is passed to the `fit` function, you can call evals_result() to
 |      get evaluation results for all passed eval_sets. When eval_metric is also
 |      passed to the `fit` function, the evals_result will contain the eval_metrics
 |      passed to the `fit` function
 |
 |      Returns
 |      -------
 |      evals_result : dictionary
 |
 |      Example
 |      -------
 |      param_dist = {'objective':'binary:logistic', 'n_estimators':2}
 |
 |      clf = xgb.XGBModel(**param_dist)
 |
 |      clf.fit(X_train, y_train,
 |              eval_set=[(X_train, y_train), (X_test, y_test)],
 |              eval_metric='logloss',
 |              verbose=True)
 |
 |      evals_result = clf.evals_result()
 |
 |      The variable evals_result will contain:
 |      {'validation_0': {'logloss': ['0.604835', '0.531479']},
 |       'validation_1': {'logloss': ['0.41965', '0.17686']}}
 |
 |  fit(self, X, y, sample_weight=None, eval_set=None, eval_metric=None, early_stopping_rounds=None, verbose=True, xgb_model=None, sample_weight_eval_set=None)
 |      Fit the gradient boosting model
 |
 |      Parameters
 |      ----------
 |      X : array_like
 |          Feature matrix
 |      y : array_like
 |          Labels
 |      sample_weight : array_like
 |          instance weights
 |      eval_set : list, optional
 |          A list of (X, y) tuple pairs to use as a validation set for
 |          early-stopping
 |      sample_weight_eval_set : list, optional
 |          A list of the form [L_1, L_2, ..., L_n], where each L_i is a list of
 |          instance weights on the i-th validation set.
 |      eval_metric : str, callable, optional
 |          If a str, should be a built-in evaluation metric to use. See
 |          doc/parameter.md. If callable, a custom evaluation metric. The call
 |          signature is func(y_predicted, y_true) where y_true will be a
 |          DMatrix object such that you may need to call the get_label
 |          method. It must return a str, value pair where the str is a name
 |          for the evaluation and value is the value of the evaluation
 |          function. This objective is always minimized.
 |      early_stopping_rounds : int
 |          Activates early stopping. Validation error needs to decrease at
 |          least every <early_stopping_rounds> round(s) to continue training.
 |          Requires at least one item in evals.  If there's more than one,
 |          will use the last. Returns the model from the last iteration
 |          (not the best one). If early stopping occurs, the model will
 |          have three additional fields: bst.best_score, bst.best_iteration
 |          and bst.best_ntree_limit.
 |          (Use bst.best_ntree_limit to get the correct value if num_parallel_tree
 |          and/or num_class appears in the parameters)
 |      verbose : bool
 |          If `verbose` and an evaluation set is used, writes the evaluation
 |          metric measured on the validation set to stderr.
 |      xgb_model : str
 |          file name of stored xgb model or 'Booster' instance Xgb model to be
 |          loaded before training (allows training continuation).
 |
 |  get_booster(self)
 |      Get the underlying xgboost Booster of this model.
 |
 |      This will raise an exception when fit was not called
 |
 |      Returns
 |      -------
 |      booster : a xgboost booster of underlying model
 |
 |  get_params(self, deep=False)
 |      Get parameters.
 |
 |  get_xgb_params(self)
 |      Get xgboost type parameters.
 |
 |  load_model(self, fname)
 |      Load the model from a file.
 |      Parameters
 |      ----------
 |      fname : string or a memory buffer
 |          Input file name or memory buffer(see also save_raw)
 |
 |  predict(self, data, output_margin=False, ntree_limit=None)
 |
 |  save_model(self, fname)
 |      Save the model to a file.
 |      Parameters
 |      ----------
 |      fname : string
 |          Output file name
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from XGBModel:
 |
 |  feature_importances_
 |      Returns
 |      -------
 |      feature_importances_ : array of shape = [n_features]
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.RegressorMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Returns the coefficient of determination R^2 of the prediction.
 |
 |      The coefficient R^2 is defined as (1 - u/v), where u is the residual
 |      sum of squares ((y_true - y_pred) ** 2).sum() and v is the total
 |      sum of squares ((y_true - y_true.mean()) ** 2).sum().
 |      The best possible score is 1.0 and it can be negative (because the
 |      model can be arbitrarily worse). A constant model that always
 |      predicts the expected value of y, disregarding the input features,
 |      would get a R^2 score of 0.0.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape = (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like, shape = (n_samples) or (n_samples, n_outputs)
 |          True values for X.
 |
 |      sample_weight : array-like, shape = [n_samples], optional
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          R^2 of self.predict(X) wrt. y.

In [73]:
(lrr.score)

<bound method RegressorMixin.score of RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1000,
           oob_score=False, random_state=None, verbose=0, warm_start=False)>

In [141]:
data_preprocesss

,Unnamed: 0,level_0,index,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
1,1,2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
2,2,3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
3,3,4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
4,4,5,5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.000000,360.0,1.0,Urban,Y
5,5,6,6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.000000,360.0,1.0,Urban,Y
6,6,7,7,LP001014,Male,Yes,3,Graduate,No,3036,2504.0,158.000000,360.0,0.0,Semiurban,N
7,7,8,8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.000000,360.0,1.0,Urban,Y
8,8,9,9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.000000,360.0,1.0,Semiurban,N
9,9,10,10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.000000,360.0,1.0,Urban,Y
10,10,11,12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.000000,360.0,1.0,Urban,Y
11,11,12,13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.000000,360.0,1.0,Rural,N
12,12,13,14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.000000,120.0,1.0,Urban,Y
13,13,14,15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.000000,360.0,1.0,Urban,Y
14,14,15,16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.000000,240.0,0.0,Urban,Y
15,15,16,17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.000000,360.0,0.0,Urban,N
16,16,17,18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.000000,360.0,1.0,Rural,N
17,17,18,20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.000000,360.0,0.0,Urban,N
18,18,19,21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.000000,360.0,1.0,Urban,Y
19,19,20,22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.000000,360.0,0.0,Semiurban,N
20,20,21,23,LP001050,Male,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,0.0,Rural,N
21,21,22,25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.000000,360.0,1.0,Semiurban,Y
22,22,23,26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.000000,360.0,1.0,Semiurban,Y
23,23,24,27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.000000,360.0,1.0,Urban,Y
24,24,25,28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.000000,360.0,1.0,Urban,N
25,25,26,31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.000000,360.0,1.0,Urban,N
26,26,27,32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.000000,360.0,1.0,Rural,N
27,27,28,33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.000000,360.0,1.0,Semiurban,Y
28,28,29,34,LP001100,Male,No,3,Graduate,No,12500,3000.0,320.000000,360.0,1.0,Rural,N
29,29,31,36,LP001109,Male,Yes,0,Graduate,No,1828,1330.0,100.000000,NaN,0.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,978,915,LP002651,Male,Yes,1,Graduate,No,6300,0.0,125.000000,360.0,0.0,Urban,X
952,952,979,937,LP002791,Male,No,1,Graduate,Yes,16000,5000.0,40.000000,360.0,1.0,Semiurban,X
953,953,980,940,LP002803,Male,Yes,1,Not Graduate,No,2600,618.0,122.000000,360.0,1.0,Semiurban,X
954,954,0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,134.147049,360.0,1.0,Urban,Y
955,955,30,35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,101.235984,360.0,1.0,Urban,Y
956,956,58,63,LP001213,Male,Yes,1,Graduate,No,4945,0.0,130.330468,360.0,0.0,Rural,N
957,957,76,81,LP001266,Male,Yes,1,Graduate,Yes,2395,0.0,98.913320,360.0,1.0,Semiurban,Y
958,958,96,102,LP001350,Male,Yes,0,Graduate,No,13650,0.0,257.463064,360.0,1.0,Urban,Y
959,959,97,103,LP001356,Male,Yes,0,Graduate,No,4652,3583.0,156.387728,360.0,1.0,Semiurban,Y
960,960,105,113,LP001392,Female,No,1,Graduate,Yes,7451,0.0,117.826755,360.0,1.0,Semiurban,Y
961,961,118,127,LP001449,Male,No,0,Graduate,No,3865,1640.0,128.500798,360.0,1.0,Rural,Y
962,962,191,202,LP001682,Male,Yes,3,Not Graduate,No,3992,0.0,65.007730,180.0,1.0,Urban,N
963,963,269,284,LP001922,Male,Yes,0,Graduate,No,20667,0.0,401.639138,360.0,1.0,Rural,N
964,964,289,305,LP001990,Male,No,0,Not Graduate,No,2000,0.0,54.005179,360.0,1.0,Urban,N
965,965,306,322,LP002054,Male,Yes,2,Not Graduate,No,3601,1590.0,118.214210,360.0,1.0,Rural,Y
966,966,320,338,LP002113,Female,No,3,Not Graduate,No,1830,0.0,59.535611,360.0,0.0,Urban,N
967,967,365,387,LP002243,Male,Yes,0,Not Graduate,No,3010,3136.0,141.110487,360.0,0.0,Urban,N
968,968,411,435,LP002393,Female,No,0,Graduate,No,10047,0.0,216.162032,240.0,1.0,Semiurban,Y
969,969,413,437,LP002401,Male,Yes,0,Graduate,No,2213,1125.0,88.800873,360.0,1.0,Urban,Y
970,970,452,479,LP002533,Male,Yes,2,Graduate,No,2947,1603.0,119.733140,360.0,1.0,Urban,N
971,971,497,524,LP002697,Male,No,0,Graduate,No,4680,2087.0,137.874579,360.0,1.0,Semiurban,N
972,972,521,550,LP002778,Male,Yes,2,Graduate,Yes,6633,0.0,170.005767,360.0,0.0,Rural,N
973,973,522,551,LP002784,Male,Yes,1,Not Graduate,No,2492,2375.0,126.075663,360.0,1.0,Rural,Y
974,974,573,605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,125.796925,180.0,1.0,Urban,N
975,975,655,692,LP001415,Male,Yes,1,Graduate,No,3413,4053.0,159.163762,360.0,1.0,Semiurban,X
976,976,677,715,LP001542,Female,Yes,0,Graduate,No,2262,0.0,108.899480,480.0,0.0,Semiurban,X
977,977,760,802,LP002057,Male,Yes,0,Not Graduate,No,13083,0.0,191.106354,360.0,1.0,Rural,X
978,978,817,861,LP002360,Male,Yes,0,Graduate,No,10000,0.0,197.426341,360.0,1.0,Urban,X
979,979,853,903,LP002593,Male,Yes,1,Graduate,No,8333,4000.0,316.932044,360.0,1.0,Urban,X
980,980,931,95,LP001326,Male,No,0,Graduate,No,6782,0.0,112.476192,360.0,0.0,Urban,N